{
    "swagger": "2.0",
    "info": {
        "description": "Oracle ERP Cloud Platform - REST APIs",
        "version": "11.13.18.05",
        "title": "Apigee Oracle ERP Cloud APIs",
        "contact": {
            "name": "Ferguson API Support",
            "email": "api.team@ferguson.com"
        }
    },
    "host": "uatapi2.ferguson.com",
    "basePath": "/11.13.18.05/oracle-erp",
    "schemes": [
        "https"
    ],
    "security": [
        {
            "application": []
        }
    ],
    "paths": {
        "/salesOrdersForOrderHub": {
            "get": {
                "tags": [
                    "Sales Orders Hub"
                ],
                "summary": "Get all sales orders",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "This parameter filters the resource attributes. Only the specified attributes are returned, which means that if no attributes are specified, no attributes are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource attributes. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "onlyData",
                        "in": "query",
                        "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "dependency",
                        "in": "query",
                        "description": "This parameter specifies dependencies which are attributes that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The attributes specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the attributes will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency attributes.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "totalResults",
                        "in": "query",
                        "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "This parameter orders a resource collection based on the specified attributes.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "finder",
                        "in": "query",
                        "description": "Used as a predefined finder to search the collection.<br><br>Format: ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables:<br><br><ul><li>findBySourceOrderNumberAndSystem: Find a sales order according to the source transaction number and source transaction system. Finder Variables:<ul><li>SourceTransactionNumber; string; Value that uniquely identifies the transaction number.</li><li>SourceTransactionSystem; string; Application that placed the request for fulfillment.</li></ul></li><li>findByOrderedDate: Find sales orders ordered within a date range. Finder Variables:<ul><li>FromDate; string; Date that occurs immediately after the user created the sales order.</li><li>ToDate; string; Date that occurs immediately before the user created the sales order.</li></ul></li><li>findByHeaderId: Find a sales order according to the sales order header. Finder Variables:<ul><li>HeaderId; string; Value that uniquely identifies the sales order header.</li></ul></li><li>findByOrderKey: Find a sales order according to the source transaction system and source transaction number. Finder Variables:<ul><li>OrderKey; string; Value that uniquely identifies the sales order. This value is derived by concatenating the value of SourceOrderSystem, a colon, and the value of SourceOrderId. For orders created through the application, the SourceOrderId is same as the HeaderId. For example, if SourceOrderSystem is LEG and SourceOrderId is R13_Sample_Order, the value of this attribute is LEG:R13_Sample_Order.</li></ul></li><li>findByOrderNumber: Find a sales order according to the order number. Finder Variables:<ul><li>OrderNumber; string; Order number of the sales order.</li></ul></li><li>PrimaryKey: Find a sales order according to the header identifier. Finder Variables:<ul><li>HeaderId; integer; Value that uniquely identifies the sales order header.</li></ul></li></ul>",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The following table describes the default response for this task.",
                        "schema": {
                            "$ref": "#/definitions/salesOrdersForOrderHub"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Sales Orders Hub"
                ],
                "summary": "Create Sales Order in OSCM Order Hub",
                "description": "Create a Ferguson Sales Order in Oracle Order Hub",
                "operationId": "CreatesalesOrderOscmOrderHub",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "Creates Sales Order",
                        "description": "submit sales order request",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/SalesOrderForOrderHubPost"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "New order created in oracle hub",
                        "schema": {
                            "$ref": "#/definitions/OscmSalesOrderPost"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized Error",
                        "headers": {
                            "WWW_Authenticate": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/salesOrdersForOrderHub/{OrderKey}": {
            "get": {
                "tags": [
                    "Sales Orders Hub"
                ],
                "summary": "Get one sales order",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "OrderKey",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "This parameter filters the resource attributes. Only the specified attributes are returned, which means that if no attributes are specified, no attributes are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource attributes. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "onlyData",
                        "in": "query",
                        "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "dependency",
                        "in": "query",
                        "description": "This parameter specifies dependencies which are attributes that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The attributes specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the attributes will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency attributes.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The following table describes the default response for this task.",
                        "schema": {
                            "$ref": "#/definitions/salesOrdersForOrderHub-item"
                        }
                    }
                }
            }
        },
        "/salesOrdersForOrderHub/{OrderKey}/child/lines": {
            "get": {
                "tags": [
                    "Sales Orders Hub"
                ],
                "summary": "Get all order lines",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "OrderKey",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "This parameter filters the resource attributes. Only the specified attributes are returned, which means that if no attributes are specified, no attributes are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource attributes. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "onlyData",
                        "in": "query",
                        "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "dependency",
                        "in": "query",
                        "description": "This parameter specifies dependencies which are attributes that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The attributes specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the attributes will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency attributes.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "totalResults",
                        "in": "query",
                        "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "This parameter orders a resource collection based on the specified attributes.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "finder",
                        "in": "query",
                        "description": "Used as a predefined finder to search the collection.<br><br>Format: ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables:<br><br><ul><li>findByFulfillLineId: Find a fulfillment line according to the primary key. Finder Variables:<ul><li>FulfillLineId; integer; Value that uniquely identifies the fulfillment line.</li></ul></li><li>findBySourceLineIdAndScheduleId: Find order lines according to the source line identifier and source schedule identifier. Finder Variables:<ul><li>SourceTransactionLineId; string; Value that uniquely identifies the transaction line from the source application.</li><li>SourceTransactionScheduleId; string; Value that uniquely identifies the schedule, shipment, or subline. The source application assigns this value.</li></ul></li><li>PrimaryKey: Find order lines according to the fulfill line identifier. Finder Variables:<ul><li>FulfillLineId; integer; Value that uniquely identifies the sales order line.</li></ul></li></ul>",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The following table describes the default response for this task.",
                        "schema": {
                            "$ref": "#/definitions/salesOrdersForOrderHub-lines"
                        }
                    }
                }
            }
        },
        "/salesOrdersForOrderHub/{OrderKey}/child/additionalInformation": {
            "get": {
                "tags": [
                    "Sales Orders Hub"
                ],
                "summary": "Get all details",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "OrderKey",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "This parameter filters the resource attributes. Only the specified attributes are returned, which means that if no attributes are specified, no attributes are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource attributes. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "onlyData",
                        "in": "query",
                        "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "dependency",
                        "in": "query",
                        "description": "This parameter specifies dependencies which are attributes that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The attributes specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the attributes will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency attributes.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "totalResults",
                        "in": "query",
                        "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "This parameter orders a resource collection based on the specified attributes.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "finder",
                        "in": "query",
                        "description": "Used as a predefined finder to search the collection.<br><br>Format: ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The following table describes the default response for this task.",
                        "schema": {
                            "$ref": "#/definitions/salesOrdersForOrderHub-additionalInformation"
                        }
                    }
                }
            }
        },
        "/inventoryOnhandBalances": {
            "get": {
                "tags": [
                    "Inventory"
                ],
                "summary": "Get all inventory balances",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "This parameter filters the resource attributes. Only the specified attributes are returned, which means that if no attributes are specified, no attributes are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource attributes. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "onlyData",
                        "in": "query",
                        "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "dependency",
                        "in": "query",
                        "description": "This parameter specifies dependencies which are attributes that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The attributes specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the attributes will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency attributes.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "totalResults",
                        "in": "query",
                        "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "This parameter orders a resource collection based on the specified attributes.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "finder",
                        "in": "query",
                        "description": "Used as a predefined finder to search the collection.<br><br>Format: ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables:<br><br><ul><li>PrimaryKey: Find inventory balance. Finder Variables:<ul><li>InventoryItemId; integer; Value that uniquely identifies the inventory item.</li><li>LocatorId; integer; Value that uniquely identifies the locator.</li><li>OrganizationId; integer; Value that uniquely identifies the organization.</li><li>OwningPartySiteId; integer; Value that uniquely identifies the site of the owning party.</li><li>Revision; string; Description of the revision.</li><li>SubinventoryCode; string; Abbreviation that identifies the subinventory in the organization. Value references a physical area or a logical grouping of items, such as, a storeroom or receiving dock.</li><li>SubinventoryGroup; string; Name of the subinventory group.</li><li>SummaryLevel; string; Summary level for the inventory balance. Values include None, Organization, Subinventory, or Locator.</li></ul></li></ul>",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The following table describes the default response for this task.",
                        "schema": {
                            "$ref": "#/definitions/inventoryOnhandBalances"
                        }
                    }
                }
            }
        },
        "/inventoryOrganizations": {
            "get": {
                "tags": [
                    "Inventory"
                ],
                "summary": "Get location data from Oracle Cloud",
                "description": "Get location data from Oracle Cloud",
                "operationId": "GetLocationDataFromOracleCloud",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "Get inventory organization",
                        "description": "get inventory organization",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/GetInventoryOrganization"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Location Data obtained",
                        "schema": {
                            "$ref": "#/definitions/InventoryOrganizationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized Error",
                        "headers": {
                            "WWW_Authenticate": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/priceExecution/documentPrices/priceSalesTransaction": {
            "post": {
                "tags": [
                    "Document Prices"
                ],
                "summary": "Price Sales Transaction",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "priceRequest",
                        "description": "The following table describes the body parameters in the request for price sales transaction.",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/priceRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Price calculated successfully.",
                        "schema": {
                            "$ref": "#/definitions/priceRequest"
                        }
                    },
                    "400": {
                        "description": "Invalid input request."
                    }
                }
            }
        },
        "/suppliers": {
            "get": {
                "tags": [
                    "Suppliers"
                ],
                "summary": "Get all suppliers",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "This parameter filters the resource attributes. Only the specified attributes are returned, which means that if no attributes are specified, no attributes are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource attributes. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "onlyData",
                        "in": "query",
                        "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "dependency",
                        "in": "query",
                        "description": "This parameter specifies dependencies which are attributes that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The attributes specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the attributes will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency attributes.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "totalResults",
                        "in": "query",
                        "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "This parameter orders a resource collection based on the specified attributes.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "finder",
                        "in": "query",
                        "description": "Used as a predefined finder to search the collection.<br><br>Format: ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables:<br><br><ul><li>PrimaryKeyFinder: Find suppliers according to the primary key. Finder Variables:<ul><li>SupplierId; integer; Value that uniquely identifies the supplier.</li></ul></li><li>ActiveSuppliersFinder: Find active suppliers in the application. Finder Variables:<ul><li>BindSysdate; string; Value that uniquely identifies the system date.</li></ul></li><li>FindByBilltoBU: Find suppliers according to the business unit enabled for billing. Finder Variables:<ul><li>BilltoBuId; integer; Value that uniquely identifies the bill-to business unit.</li></ul></li><li>FindByRequisitionBU: Find suppliers according to the site that you can use to create requisitions in a requisitioning business unit.</li><li>PrimaryKey: Find suppliers according to the primary key. Finder Variables:<ul><li>SupplierId; integer; Value that uniquely identifies the supplier.</li></ul></li></ul>",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The following table describes the default response for this task.",
                        "schema": {
                            "$ref": "#/definitions/suppliers"
                        }
                    }
                },
                "x-internal-id": "suppliers-get",
                "x-filename-id": "suppliers-get"
            },
            "post": {
                "tags": [
                    "Suppliers"
                ],
                "summary": "Create a supplier",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "createSupplierRequest",
                        "description": "The following table describes the body parameters in the request for this task.",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/createSupplierRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Price calculated successfully.",
                        "schema": {
                            "$ref": "#/definitions/createSupplierRequest"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/suppliers/{SupplierId}": {
            "get": {
                "tags": [
                    "Suppliers"
                ],
                "summary": "Get one supplier",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "SupplierId",
                        "in": "path",
                        "description": "Value that uniquely identifies the supplier.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "This parameter filters the resource attributes. Only the specified attributes are returned, which means that if no attributes are specified, no attributes are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource attributes. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "onlyData",
                        "in": "query",
                        "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "dependency",
                        "in": "query",
                        "description": "This parameter specifies dependencies which are attributes that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The attributes specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the attributes will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency attributes.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The following table describes the default response for this task.",
                        "schema": {
                            "$ref": "#/definitions/suppliers-item"
                        }
                    }
                },
                "x-internal-id": "suppliers-{SupplierId}-get",
                "x-filename-id": "suppliers-supplierid-get"
            },
            "patch": {
                "tags": [
                    "Suppliers"
                ],
                "summary": "Update a supplier",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "SupplierId",
                        "in": "path",
                        "description": "Value that uniquely identifies the supplier.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "request",
                        "description": "The following table describes the body parameters in the request for this task.",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/suppliers-item"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The following table describes the default response for this task.",
                        "schema": {
                            "$ref": "#/definitions/suppliers-item"
                        }
                    }
                },
                "x-internal-id": "suppliers-{SupplierId}-patch",
                "x-filename-id": "suppliers-supplierid-patch"
            }
        },
        "/suppliers/{SupplierId}/child/addresses": {
            "get": {
                "tags": [
                    "Suppliers"
                ],
                "summary": "Get all addresses",
                "produces": [
                    "application/vnd.oracle.adf.resourcecollection+json"
                ],
                "parameters": [
                    {
                        "name": "SupplierId",
                        "in": "path",
                        "description": "Value that uniquely identifies the supplier.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "This parameter filters the resource attributes. Only the specified attributes are returned, which means that if no attributes are specified, no attributes are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource attributes. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "onlyData",
                        "in": "query",
                        "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "dependency",
                        "in": "query",
                        "description": "This parameter specifies dependencies which are attributes that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The attributes specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the attributes will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency attributes.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "totalResults",
                        "in": "query",
                        "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "This parameter orders a resource collection based on the specified attributes.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "finder",
                        "in": "query",
                        "description": "Used as a predefined finder to search the collection.<br><br>Format: ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables:<br><br><ul><li>PrimaryKeyFinder: Find supplier addresses according to the primary key. Finder Variables:<ul><li>SupplierAddressId; integer; Value that uniquely identifies the supplier address.</li></ul></li><li>PrimaryKey: Find supplier addresses according to the primary key. Finder Variables:<ul><li>SupplierAddressId; integer; Value that uniquely identifies the supplier address.</li></ul></li></ul>",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The following table describes the default response for this task.",
                        "schema": {
                            "$ref": "#/definitions/suppliers-addresses"
                        }
                    }
                },
                "x-internal-id": "suppliers-{SupplierId}-child-addresses-get",
                "x-filename-id": "suppliers-supplierid-child-addresses-get"
            },
            "post": {
                "tags": [
                    "Suppliers"
                ],
                "summary": "Create an address",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "SupplierId",
                        "in": "path",
                        "description": "Value that uniquely identifies the supplier.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "request",
                        "description": "The following table describes the body parameters in the request for this task.",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/suppliers-addresses-item"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The following table describes the default response for this task.",
                        "schema": {
                            "$ref": "#/definitions/suppliers-addresses-item"
                        }
                    }
                },
                "x-internal-id": "suppliers-{SupplierId}-child-addresses-post",
                "x-filename-id": "suppliers-supplierid-child-addresses-post"
            }
        },
        "/suppliers/{SupplierId}/child/addresses/{SupplierAddressId}": {
            "get": {
                "tags": [
                    "Suppliers"
                ],
                "summary": "Get one address",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "SupplierId",
                        "in": "path",
                        "description": "Value that uniquely identifies the supplier.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "SupplierAddressId",
                        "in": "path",
                        "description": "Value that uniquely identifies the supplier address.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "This parameter filters the resource attributes. Only the specified attributes are returned, which means that if no attributes are specified, no attributes are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource attributes. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "onlyData",
                        "in": "query",
                        "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "dependency",
                        "in": "query",
                        "description": "This parameter specifies dependencies which are attributes that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The attributes specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the attributes will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency attributes.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The following table describes the default response for this task.",
                        "schema": {
                            "$ref": "#/definitions/suppliers-addresses-item"
                        }
                    }
                },
                "x-internal-id": "suppliers-{SupplierId}-child-addresses-{SupplierAddressId}-get",
                "x-filename-id": "suppliers-supplierid-child-addresses-supplieraddressid-get"
            },
            "patch": {
                "tags": [
                    "Suppliers"
                ],
                "summary": "Update an address",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "SupplierId",
                        "in": "path",
                        "description": "Value that uniquely identifies the supplier.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "SupplierAddressId",
                        "in": "path",
                        "description": "Value that uniquely identifies the supplier address.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "request",
                        "description": "The following table describes the body parameters in the request for this task.",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/suppliers-addresses-item"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The following table describes the default response for this task.",
                        "schema": {
                            "$ref": "#/definitions/suppliers-addresses-item"
                        }
                    }
                },
                "x-internal-id": "suppliers-{SupplierId}-child-addresses-{SupplierAddressId}-patch",
                "x-filename-id": "suppliers-supplierid-child-addresses-supplieraddressid-patch"
            }
        },
        "/suppliers/{SupplierId}/child/sites": {
            "get": {
                "tags": [
                    "Suppliers"
                ],
                "summary": "Get all sites",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "SupplierId",
                        "in": "path",
                        "description": "Value that uniquely identifies the supplier.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "This parameter filters the resource attributes. Only the specified attributes are returned, which means that if no attributes are specified, no attributes are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource attributes. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "onlyData",
                        "in": "query",
                        "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "dependency",
                        "in": "query",
                        "description": "This parameter specifies dependencies which are attributes that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The attributes specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the attributes will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency attributes.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "totalResults",
                        "in": "query",
                        "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "This parameter orders a resource collection based on the specified attributes.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "finder",
                        "in": "query",
                        "description": "Used as a predefined finder to search the collection.<br><br>Format: ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables:<br><br><ul><li>FindByBilltoBU: Find sites according to the business unit enabled for billing. Finder Variables:<ul><li>BilltoBuId; integer; Value that uniquely identifies the bill-to business unit.</li><li>BindSysDate; string; Value that uniquely identifies the system date.</li></ul></li><li>PrimaryKey: Find supplier sites according to the primary key. Finder Variables:<ul><li>SupplierSiteId; integer; Value that uniquely identifies the supplier site.</li></ul></li></ul>",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The following table describes the default response for this task.",
                        "schema": {
                            "$ref": "#/definitions/suppliers-sites"
                        }
                    }
                },
                "x-internal-id": "suppliers-{SupplierId}-child-sites-get",
                "x-filename-id": "suppliers-supplierid-child-sites-get"
            },
            "post": {
                "tags": [
                    "Suppliers"
                ],
                "summary": "Create a site",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "SupplierId",
                        "in": "path",
                        "description": "Value that uniquely identifies the supplier.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "request",
                        "description": "The following table describes the body parameters in the request for this task.",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/suppliers-sites-item"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The following table describes the default response for this task.",
                        "schema": {
                            "$ref": "#/definitions/suppliers-sites-item"
                        }
                    }
                },
                "x-internal-id": "suppliers-{SupplierId}-child-sites-post",
                "x-filename-id": "suppliers-supplierid-child-sites-post"
            }
        },
        "/suppliers/{SupplierId}/child/sites/{SupplierSiteId}": {
            "get": {
                "tags": [
                    "Suppliers"
                ],
                "summary": "Get one site",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "SupplierId",
                        "in": "path",
                        "description": "Value that uniquely identifies the supplier.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "SupplierSiteId",
                        "in": "path",
                        "description": "Value that uniquely identifies the supplier site.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "This parameter filters the resource attributes. Only the specified attributes are returned, which means that if no attributes are specified, no attributes are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource attributes. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "onlyData",
                        "in": "query",
                        "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "dependency",
                        "in": "query",
                        "description": "This parameter specifies dependencies which are attributes that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The attributes specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the attributes will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency attributes.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The following table describes the default response for this task.",
                        "schema": {
                            "$ref": "#/definitions/suppliers-sites-item"
                        }
                    }
                },
                "x-internal-id": "suppliers-{SupplierId}-child-sites-{SupplierSiteId}-get",
                "x-filename-id": "suppliers-supplierid-child-sites-suppliersiteid-get"
            },
            "patch": {
                "tags": [
                    "Suppliers"
                ],
                "summary": "Update a site",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "SupplierId",
                        "in": "path",
                        "description": "Value that uniquely identifies the supplier.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "SupplierSiteId",
                        "in": "path",
                        "description": "Value that uniquely identifies the supplier site.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "request",
                        "description": "The following table describes the body parameters in the request for this task.",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/suppliers-sites-item"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The following table describes the default response for this task.",
                        "schema": {
                            "$ref": "#/definitions/suppliers-sites-item"
                        }
                    }
                },
                "x-internal-id": "suppliers-{SupplierId}-child-sites-{SupplierSiteId}-patch",
                "x-filename-id": "suppliers-supplierid-child-sites-suppliersiteid-patch"
            }
        },
        "/suppliers/{SupplierId}/child/contacts": {
            "get": {
                "tags": [
                    "Suppliers"
                ],
                "summary": "Get all contacts",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "SupplierId",
                        "in": "path",
                        "description": "Value that uniquely identifies the supplier.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "This parameter filters the resource attributes. Only the specified attributes are returned, which means that if no attributes are specified, no attributes are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource attributes. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "onlyData",
                        "in": "query",
                        "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "dependency",
                        "in": "query",
                        "description": "This parameter specifies dependencies which are attributes that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The attributes specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the attributes will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency attributes.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "totalResults",
                        "in": "query",
                        "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "This parameter orders a resource collection based on the specified attributes.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "finder",
                        "in": "query",
                        "description": "Used as a predefined finder to search the collection.<br><br>Format: ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables:<br><br><ul><li>PrimaryKeyFinder: Find supplier contacts according to the primary key. Finder Variables:<ul><li>SupplierContactId; string; Value that uniquely identifies the supplier contact.</li></ul></li><li>PrimaryKey: Find supplier contacts according to the primary key. Finder Variables:<ul><li>PersonProfileId; integer; Value that uniquely identifies the person profile.</li><li>SupplierContactId; integer; Value that uniquely identifies the supplier contact.</li></ul></li></ul>",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The following table describes the default response for this task.",
                        "schema": {
                            "$ref": "#/definitions/suppliers-contacts"
                        }
                    }
                },
                "x-internal-id": "suppliers-{SupplierId}-child-contacts-get",
                "x-filename-id": "suppliers-supplierid-child-contacts-get"
            },
            "post": {
                "tags": [
                    "Suppliers"
                ],
                "summary": "Create a contact",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "SupplierId",
                        "in": "path",
                        "description": "Value that uniquely identifies the supplier.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "request",
                        "description": "The following table describes the body parameters in the request for this task.",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/suppliers-contacts-item"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The following table describes the default response for this task.",
                        "schema": {
                            "$ref": "#/definitions/suppliers-contacts-item"
                        }
                    }
                },
                "x-internal-id": "suppliers-{SupplierId}-child-contacts-post",
                "x-filename-id": "suppliers-supplierid-child-contacts-post"
            }
        },
        "/suppliers/{SupplierId}/child/contacts/{SupplierContactId}": {
            "get": {
                "tags": [
                    "Suppliers"
                ],
                "summary": "Get one contact",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "SupplierId",
                        "in": "path",
                        "description": "Value that uniquely identifies the supplier.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "SupplierContactId",
                        "in": "path",
                        "description": "Value that uniquely identifies the supplier contact.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "expand",
                        "in": "query",
[...]
